[submodule "submodule/FluidGroup/swiftui-scrollview-interoperable-drag-gesture"]
	path = submodule/FluidGroup/swiftui-scrollview-interoperable-drag-gesture
	url = https://github.com/FluidGroup/swiftui-scrollview-interoperable-drag-gesture
